#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 200px;
    margin: 0 100px;
}

.photographer-portrait img {
    object-fit: cover;
    display: flex;
    width: 150px; 
    height: 150PX; 
    max-width: 100%; /* Pour que l'image ne dépasse pas son conteneur */
    border-radius: 50%;
    object-fit: cover;
    margin-top: 25px;
    margin-left: 200px;  
}

.photographer-portrait {
    display: flex;
  
   
}
.photographer-info{
    margin-top: 20px;
    margin-left: 20px;
}
.photographer-container {
    display: flex;
 
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
   
    white-space: nowrap;
}

.media-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes de taille égale */
    gap: 20px; /* Espacement entre les cartes */
    margin-left: 80px;
    margin-top: 50px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.imagephoto{
    object-fit: cover;
    width: 200px; 
    height: 200PX; 
    
}
.media-info{
    display: flex;
    color: #901C1C;
    justify-content: space-between;
    width: 200px;
}

p{
    margin: 0;
}
.likes-container{
    white-space: nowrap;/*empêche le cœur de passer à la ligne suivante et oblige le titre à sauter à la ligne en cas de manque de place*/
    margin-right: 0px;
}