@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
.container {
    max-width: 1240px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #d63636;
    margin-right: 100px;
    font-size: 40px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
   
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    
}
.photographer_section article a {
    text-decoration: none;
  }


.photographer-location {
    margin-top: -10px; /* Ajuste l'espace */
    color: #901C1C;
  }
  
  .photographer-tagline {
    margin-top: 0px; 
  }
  
  .photographer-price {
    margin-top: 0px; 
    color: gray;
}
  article a {
    text-decoration: none;
  }